/* .row {
  height: 450px;
} */
.nav__bar {
  background-color: rgba(235, 210, 180, 0.137);
}
.tab-pane {
  padding: 50px 15px;
}

.answer {
  background-color: rgba(161, 219, 161, 0.445);
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  border: 1px solid rgb(161, 219, 161);
}
.btn {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  #v-pills-tab {
    justify-content: center;
    padding: 10px;
  }
}
